@page "/entrar"

<div class=" flex justify-center items-center h-screen">
    <div class=" flex flex-wrap items-center lg:justify-center flex-col w-4/5 lg:w-2/5 md:w-2/4 lg:p-2 lg:shadow-lg lg:shadow-Primaria rounded-lg h-4/5">
        <div class=" w-[120px] h-[120px] rounded-full bg-Primaria m-4">
        </div>
        <div class=" space-y-8">
            <h1 class=" text-Primaria text-2xl font-bold text-center">Login</h1>
            <form action="" class=" space-y-4">
                <input type="email" placeholder="Email ou telefone" name=""
                    class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">
                <input type="password" placeholder="Palavra-passe" name=""
                    class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">
                <button
                    class=" p-2 w-full bg-Primaria rounded text-Neutra hover:scale-[1.05] transition-all">Entrar</button>
            </form>
            <div class=" flex flex-wrap text-center">
                <span class=" text-sm w-full">Não possui uma conta? <span class=" text-Primaria"><a href="/cadastro">Crie uma
                            agora!!</a></span></span>
                <span class=" text-sm text-Primaria w-full"><a href="">Esqueceu sua Palavra
                        Palavra-passe?</a></span>
            </div>
        </div>
    </div>
</div>