@page "/tarefas"
@layout DashboardLayout


<div class=" h-full flex flex-col space-y-4 justify-center items-center">
    <div class=" w-[95%] h-full space-y-4">
        <div class=" space-y-2">
            <div>
                <h1 class=" text-2xl font-bold text-Primaria">As Tuas Tarefas</h1>
                <p class=" text-sm text-Secundaria">Abaixo estao listadas todas as suas tarefas. Você pode filtra-las
                    para melhor busca.</p>
            </div>
            <div>
                <details>
                    <summary>Filtrar</summary>
                    <div class=" flex space-x-4">
                        <select
                            class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">
                            <option selected>Categoria</option>
                        </select>
                        <select
                            class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">
                            <option selected>Lista</option>
                        </select>
                    </div>
                </details>
            </div>
        </div>
        <div class=" flex flex-wrap">
            <div class=" shadow-md flex flex-col shadow-Primaria rounded-md p-2 w-[31%] h-[35%] m-2">
                <div class=" flex border-b-2 border-Primaria p-1">
                    <div class=" w-[50%] text-Primaria">
                        <h1 class=" font-bold">Nome tarefa</h1>
                        <h2 class=" text-xs text-Secundaria font-medium">Categoria</h2>
                    </div>
                    <div class=" text-right w-[50%] text-Secundaria">
                        <h2>Ate 09/09/2004</h2>
                    </div>
                </div>
                <div class=" py-2 text-Secundaria\">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur
                        adipisicing.</p>
                </div>
                <div class=" text-center">
                    <button class=" p-2 bg-Primaria w-[80%] rounded text-Neutra hover:scale-[1.05] transition-all">Ver
                        mais...</button>
                </div>
            </div>
            <div class=" shadow-md flex flex-col shadow-Primaria rounded-md p-2 w-[31%] h-[35%] m-2">
                <div class=" flex border-b-2 border-Primaria p-1">
                    <div class=" w-[50%] text-Primaria">
                        <h1 class=" font-bold">Nome tarefa</h1>
                        <h2 class=" text-xs text-Secundaria font-medium">Categoria</h2>
                    </div>
                    <div class=" text-right w-[50%] text-Secundaria">
                        <h2>Ate 09/09/2004</h2>
                    </div>
                </div>
                <div class=" py-2 text-Secundaria\">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur
                        adipisicing.</p>
                </div>
                <div class=" text-center">
                    <button class=" p-2 bg-Primaria w-[80%] rounded text-Neutra hover:scale-[1.05] transition-all">Ver
                        mais...</button>
                </div>
            </div>
            <div class=" shadow-md flex flex-col shadow-Primaria rounded-md p-2 w-[31%] h-[35%] m-2">
                <div class=" flex border-b-2 border-Primaria p-1">
                    <div class=" w-[50%] text-Primaria">
                        <h1 class=" font-bold">Nome tarefa</h1>
                        <h2 class=" text-xs text-Secundaria font-medium">Categoria</h2>
                    </div>
                    <div class=" text-right w-[50%] text-Secundaria">
                        <h2>Ate 09/09/2004</h2>
                    </div>
                </div>
                <div class=" py-2 text-Secundaria\">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur
                        adipisicing.</p>
                </div>
                <div class=" text-center">
                    <button class=" p-2 bg-Primaria w-[80%] rounded text-Neutra hover:scale-[1.05] transition-all">Ver
                        mais...</button>
                </div>
            </div>
        </div>
    </div>
</div>